section.header {
	padding-top: 0;
}

#btn-license {
	position: absolute;
	top: 10px;
	right: 155px;
	width: 135px;
}
#btn-demo {
	position: absolute;
	top: 10px;
	right: 180px;
}

#btn-free {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 135px;
}
#btn-demo-google-play img {
	height: 50px;
}
.featurette.ios img.featurette-image {
	border: 2px solid #666;
	width: 400px;
}

.featurette.testimonials li {
	margin-bottom: 1.3em;
}
.featurette.testimonials li {
	list-style-type: none;
}
.featurette.testimonials cite {
	font-style: italic;
	color: #aaa;
}

@media all and (max-width: 320px) {
	.brand-new img {
		margin-top: 40px;
		position: absolute;
		top: 70px;
		left: 20px;
	}
}

@media all and (max-width: 480px) {
	.brand-new img {
		border: 1px solid red;
		margin-top: 40px;
	}
}

blockquote {
	font-style: italic;
}