#payment-button {
  display: block;
  position: absolute;
  background-color: #0090ff;
  text-align: center;
  top:0;
  right: 200px;
  z-index: 10;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}